* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

#navBar {
    display: flex;
    background-color: #504e53a4;
    padding: 20px;
    flex-direction: row;
    margin: 0px;
}

#navBar h1 {
    color: white;
    width: 25%;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navigation {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    float: right;
    color: white;
}

#navigation a {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.aboutme {
    margin-right: 2px;
    margin-top: 2px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6f6c74a4;
    color: #ffffff;
}

.flex_item {
    padding: 10px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6f6c74a4;
    color: white;
}

.flex {
    padding: 0px;
    margin: 0px;
    display: flex;
}

#column {
    background-color: #6f6c74a4;
    flex-direction: column;
    margin-top: 2px;
}